@model ZaverecnyProjektForman2.Models.Insured

@{
    ViewData["Title"] = "Vymazat";
}

<h1>Vymazat</h1>

<h3>Opravdu chcete odstranit pojištěnce?</h3>
<div class="container">
    <hr />
    <!-- Zobrazení detailů pojištěnce před jeho smazáním -->
    <dl class="row">
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Jméno pojištěnce">
                Jméno
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Příjmení pojištěnce">
                Příjmení
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Surname)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Datum narození pojištěnce">
                Datum narození
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Birth)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Email pojištěnce">
                E-mail
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Ulice a číslo domu bydliště pojištěnce">
                Ulice
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Street) @Html.DisplayFor(model => model.HouseNumber)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Město bydliště pojištěnce">
                Město
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.City)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="PSČ bydliště pojištěnce">
                PSČ
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.PostNumber)
            </dd>
        </div>
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-2 form-group p-2" title="Telefonnní číslo pojištěnce">
                Telefon
            </dt>
            <dd class="col-2 form-group p-2">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </div>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger"
               onclick="return confirm('Opravdu chcete odstranit pojištěnce?');" title="Kliknutím potvrdíte odstranění pojištěnce." />
    </form>
</div>
<div class="mt-5">
    <button class="btn btn-outline-secondary btn-zpet" onclick="history.back()" title="Návrat zpět bez uložení.">
        Zpět
    </button>
</div>
