@model IEnumerable<ZaverecnyProjektForman2.Models.Insured>

@{
    ViewData["Title"] = "Pojištěnci";
}

<h1>Pojištěnci</h1>

<p>
    <div class="d-flex justify-content-center">
        <form asp-action="Create" method="get">
            <button type="submit" class="btn btn-primary">Nový pojištěnec</button>
        </form>
    </div>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <span class="sort-arrows">
                    <a asp-action="Index" asp-route-sortOrder="NameAsc">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="NameDesc">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
                <span class="sort-arrows">
                    <a asp-action="Index" asp-route-sortOrder="SurnameAsc">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="SurnameDesc">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth)
                <span class="sort-arrows">
                    <a asp-action="Index" asp-route-sortOrder="BirthAsc">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="BirthDesc">↓</a>
                </span>
            </th>
            <th class="min-width-td max-width-td">
                Počet pojištění
                <span class="sort-arrows">
                    <a asp-action="Index" asp-route-sortOrder="ContractsAsc">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="ContractsDesc">↓</a>
                </span>
            </th>
            <th class="min-width-td max-width-td">
                Počet poj.událostí
                <span class="sort-arrows">
                    <a asp-action="Index" asp-route-sortOrder="ContractsAsc">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="ContractsDesc">↓</a>
                </span>
            </th>
            <th class="mix-width-td">
                Úpravy
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birth)
                </td>
                <td class="min-width-td max-width-td">
                    @item.InsuranceContracts?.Count
                </td>
                <td class="min-width-td max-width-td">
                    @item.InsuranceEvents?.Count
                </td>
                <td class="min-width-td d-flex justify-content-around align-items-center">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/images/edit.png" alt="Edit" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Editace pojištěnce">
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/detail.png" alt="Details" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Detail pojištěnce">
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/images/delete.png" alt="Delete" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Smazat pojištěnce">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
