@model ZaverecnyProjektForman2.Models.InsuranceEvents

@{
    ViewData["Title"] = "Odstranit";
}

<h1>Odstranit</h1>
<h3>Opravdu chcete odstranit pojistnou událost?</h3>
<div class="container">
    <hr />
    <dl class="row">
        <!-- Jméno a příjmení pojistníka -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.Insured.Name) @Html.DisplayNameFor(model => model.Insured.Surname)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.Insured.Name) @Html.DisplayFor(model => model.Insured.Surname)
            </dd>
        </div>
        <!-- Typ pojištění -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.Insurance.Type)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.Insurance.Type)
            </dd>
        </div>
        <!-- Detail události -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.EventDetail)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.EventDetail)
            </dd>
        </div>
        <!-- Částka pojištění -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.FulfillmentAmount)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.FulfillmentAmount)
            </dd>
        </div>
        <!-- Datum události -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.FulfillmentDate)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.FulfillmentDate)
            </dd>
        </div>
        <!-- Datum vytvoření -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
        </div>
        <!-- Datum poslední změny -->
        <div class="col-12 d-flex flex-column flex-sm-row">
            <dt class="col-4 form-group p-2">
                @Html.DisplayNameFor(model => model.LastChange)
            </dt>
            <dd class="col-4 form-group p-2">
                @Html.DisplayFor(model => model.LastChange)
            </dd>
        </div>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger"
               onclick="return confirm('Opravdu chcete odstranit tuto událost?');" title="Odstranit tuto událost." />
    </form>
</div>
<div class="mt-5">
    <button class="btn btn-outline-secondary btn-zpet" onclick="history.back()" title="Vrátí vás zpět na předchozí stránku.">
        Zpět
    </button>
</div>
