@model IEnumerable<ZaverecnyProjektForman2.Models.InsuranceEvents>

@{
    ViewData["Title"] = "Pojistné události";
}

<h1>Pojistné události</h1>

<p>
    @if (User.IsInRoleOrHigher(UserRoles.Manager))
    {
        <!-- Obsah jen pro managery a výš -->
        <div class="d-flex justify-content-center">
            <form asp-action="Create" method="get">
                <button type="submit" class="btn btn-primary">Přidat novou událost</button>
            </form>
        </div>
    }
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr class="align-middle">
            <th>
                @Html.DisplayNameFor(model => model.Insured)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool surnameFilterApplied = ViewData["surnameFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(surnameFilterApplied ? "active-filter" : "")" onclick="toggleFilterInput('filterInput1', 'filterValue1')" data-bs-toggle="tooltip" title="Filtr Surname"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput1" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue1')" style="display:none;" placeholder="Filtr Surname..." />
                        <input type="hidden" name="surnameFilter" id="filterValue1" />
                    </form>
                    <a asp-action="Index" asp-route-sortOrder="SurnameAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="SurnameDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool typFilterApplied = ViewData["TypFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(typFilterApplied ? "active-filter" : "")" onclick="toggleFilterInput('filterInput2', 'filterValue2')" data-bs-toggle="tooltip" title="Filtr Typ"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput2" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue2')" style="display:none;" placeholder="Filtr Typ..." />
                        <input type="hidden" name="typFilter" id="filterValue2" />
                    </form>
                    <a asp-action="Index" asp-route-sortOrder="InsuranceAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="InsuranceDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDetail)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool detailFilter = ViewData["DetailFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(detailFilter ? "active-filter" : "")" onclick="toggleFilterInput('filterInput3', 'filterValue3')" data-bs-toggle="tooltip" title="Filtr Předmět"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput3" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue3')" style="display:none;" placeholder="Filtr detail..." />
                        <input type="hidden" name="detailFilter" id="filterValue3" />
                    </form>
                    <a asp-action="Index" asp-route-sortOrder="DetailAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="DetailDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FulfillmentAmount)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <a asp-action="Index" asp-route-sortOrder="AmountAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="AmountDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FulfillmentDate)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <a asp-action="Index" asp-route-sortOrder="DateAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="DateDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th class="mix-width-td align-items-center">
                Úpravy
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Insured.Name) @Html.DisplayFor(modelItem => item.Insured.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Insurance.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FulfillmentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FulfillmentDate)
                </td>
                <td class="min-width-td justify-content-around align-items-center">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/detail.png" alt="Details" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Detail události">
                    </a>
                    @if (User.IsInRoleOrHigher(UserRoles.Manager))
                    {
                        <!-- Obsah jen pro managery a výš -->
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <img src="~/images/edit.png" alt="Edit" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Editace události">
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <img src="~/images/delete.png" alt="Delete" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Smazat událost">
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
