@model ZaverecnyProjektForman2.Models.InsuranceContracts

@{
    ViewData["Title"] = "Detail pojištění";
}

<h1>@Html.DisplayFor(model => model.Insurance.Type) - @Html.DisplayFor(model => model.NameSubject)</h1>

<div class="container">
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Insured)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Insured.Name) @Html.DisplayFor(model => model.Insured.Surname)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Insurance.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Insurance.Type)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.NameSubject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameSubject)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.InsuredFrom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InsuredFrom)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.InsuredUntil)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InsuredUntil)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.LastChange)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastChange)
            </dd>
        </div>
    </dl>
</div>

<div class="d-flex justify-content-center pt-5">
    <form asp-action="Edit" asp-route-id="@Model?.Id" method="get" class="me-2">
        <button type="submit" class="btn btn-warning btn-novy-pojistenec">Upravit pojištění</button>
    </form>
    <form asp-action="Delete" asp-route-id="@Model?.Id" method="get">
        <button type="submit" class="btn btn-danger btn-novy-pojistenec">Smazat pojištění</button>
    </form>
</div>

<div class="mt-5">
    <button class="btn btn-outline-secondary btn-zpet" onclick="history.back()">
        Zpět
    </button>
</div>