@model IEnumerable<ZaverecnyProjektForman2.Models.InsuranceContracts>

@{
    ViewData["Title"] = "Pojistné smlouvy";
}

<h1>Pojistné smlouvy</h1>

<p>
    <div class="d-flex justify-content-center">
        <form asp-action="Create" method="get">
            <button type="submit" class="btn btn-primary">Nová pojistná smlouva</button>
        </form>
    </div>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(mode => mode.Insured.Name) a @Html.DisplayNameFor(mode => mode.Insured.Surname)</th>
            <th>@Html.DisplayNameFor(mode => mode.Insurance.Type)</th>
            <th>@Html.DisplayNameFor(mode => mode.NameSubject)</th>
            <th>@Html.DisplayNameFor(mode => mode.Amount)</th>
            <th>@Html.DisplayNameFor(mode => mode.InsuredFrom)</th>
            <th>@Html.DisplayNameFor(mode => mode.InsuredUntil)</th>
            <th class="min-width-td">Úpravy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Insured.Name) @Html.DisplayFor(modelItem => item.Insured.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Insurance.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuredFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuredUntil)
                </td>
                <td class="min-width-td d-flex justify-content-around align-items-center">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/images/edit.png" alt="Edit" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Úprava smlouvy">
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/detail.png" alt="Details" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Detail smlouvy">
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/images/delete.png" alt="Delete" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Smazat smlouvu">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
