@model InsuranceContractsIndexViewModel

@{
    ViewData["Title"] = "Pojistné smlouvy";
}

<h1>Pojistné smlouvy</h1>

<p>
    <!-- Obsah jen pro managery a výš -->
    @if (User.IsInRoleOrHigher(UserRoles.Manager))
    {
        <div class="d-flex justify-content-center">
            <form asp-action="Create" method="get">
                <button type="submit" class="btn btn-primary" title="Přidat novou pojistnou smlouvu">Nová pojistná smlouva</button>
            </form>
        </div>
    }
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr class="align-middle">
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().Insured.Name) a @Html.DisplayNameFor(mode => mode.Contracts.First().Insured.Surname)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Formulář pro filtraci a řazení podle příjmení -->
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool surnameFilterApplied = ViewData["surnameFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(surnameFilterApplied ? "active-filter" : "")" onclick="toggleFilterInput('filterInput1', 'filterValue1')" data-bs-toggle="tooltip" title="Filtr Surname"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput1" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue1')" style="display:none;" placeholder="Filtr Surname..." />
                        <input type="hidden" name="surnameFilter" id="filterValue1" />
                    </form>
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="SurnameAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="SurnameDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().Insurance.Type)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Formulář pro filtraci a řazení podle typu pojištění -->
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool typFilterApplied = ViewData["TypFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(typFilterApplied ? "active-filter" : "")" onclick="toggleFilterInput('filterInput2', 'filterValue2')" data-bs-toggle="tooltip" title="Filtr Typ"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput2" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue2')" style="display:none;" placeholder="Filtr Surname..." />
                        <input type="hidden" name="typFilter" id="filterValue2" />
                    </form>
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="InsurenceAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="InsurenceDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().NameSubject)
                <<span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Formulář pro filtraci a řazení podle předmětu pojištění -->
                    <form asp-action="Index" method="get" id="filterForm">
                        @{
                            bool subjectFilter = ViewData["SubjectFilterApplied"] as bool? ?? false;
                        }
                        <span class="filter-icon @(subjectFilter ? "active-filter" : "")" onclick="toggleFilterInput('filterInput3', 'filterValue3')" data-bs-toggle="tooltip" title="Filtr Předmět"><i class="fas fa-filter"></i></span>
                        <input type="text" id="filterInput3" class="bubble-input filter-input" onblur="applyFilter(this, 'filterValue3')" style="display:none;" placeholder="Filtr předmět..." />
                        <input type="hidden" name="subjectFilter" id="filterValue3" />
                    </form>
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="SubjectAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="SubjectDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().Amount)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="AmountAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="AmountDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().InsuredFrom)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="FromAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="FromDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Contracts.First().InsuredUntil)
                <span class="sort-arrows d-inline-flex align-items-center">
                    <!-- Odkazy pro řazení -->
                    <a asp-action="Index" asp-route-sortOrder="UntilAsc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od nejmenšího">↑</a>
                    <a asp-action="Index" asp-route-sortOrder="UntilDesc" class="btn btn-link" data-bs-toggle="tooltip" title="Seřadit od největšího">↓</a>
            </th>
            <th class="min-width-td">Úpravy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Insured.Name) @Html.DisplayFor(modelItem => item.Insured.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Insurance.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuredFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuredUntil)
                </td>
                <td class="min-width-td justify-content-around align-items-center">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/detail.png" alt="Details" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Detail smlouvy">
                    </a>

                    @if (User.IsInRoleOrHigher(UserRoles.Manager))
                    {
                        <!-- Obsah jen pro managery a výš -->
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <img src="~/images/edit.png" alt="Edit" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Úprava smlouvy">
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <img src="~/images/delete.png" alt="Delete" class="img-fluid align-middle" style="max-height: 30px;" data-bs-toggle="tooltip" title="Smazat smlouvu">
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="d-flex justify-content-center" aria-label="Stránkování">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1, sortOrder = Model.SortOrder, surnameFilter = Model.SurnameFilter, typFilter = Model.TypFilter, subjectFilter = Model.SubjectFilter })">
                &laquo;
            </a>
        </li>

        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, sortOrder = Model.SortOrder, surnameFilter = Model.SurnameFilter, typFilter = Model.TypFilter, subjectFilter = Model.SubjectFilter })">
                    @i
                </a>
            </li>
        }

        <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1, sortOrder = Model.SortOrder, surnameFilter = Model.SurnameFilter, typFilter = Model.TypFilter, subjectFilter = Model.SubjectFilter })">
                &raquo;
            </a>
        </li>
    </ul>
</nav>